  <div class="container">
    <div class="row">
      <div class="col-sm-6">
      
          <mat-card class="card">
              <img src="https://www.aeroflot.ru/media/aflfiles/gb/lon/lon_5.jpg" class="card-image">
            <mat-card-header>
                
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Phoenix Lodge</mat-card-title>
              <mat-card-subtitle>Lodge number: 346</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
              <p>
                District: 123<br>
                Address<br>
                123 Main St Sarasota, FL 12345<br>
                Phone Number: 123-123-1234<br><br>
                Stated Meeting Dates & Times:<br>
                <strong>1st</strong> and <strong>4th Tuesday</strong> of every month
                Dinner at <strong>6PM</strong>, Stated Meeting at <strong>7:30PM</strong><br>

              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
      </div>

      <div class="col-sm-6">
      
          <mat-card class="card">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJCD6elDO7i_CHnshvyeFLgHdP5UfFYqJ1zgzF1g8hpWXQ9XMB1w" class="card-image">
            <mat-card-header>
                
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Phoenix Lodge</mat-card-title>
              <mat-card-subtitle>Lodge number: 346</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
             
              
            </mat-card-content>
        </mat-card>
      </div>
</div>