    <div class="wrapper">
      <app-side-nav></app-side-nav>
      <div class="main-panel">
        <div class="content">
          <div class="container-fluid">
            <div class="row">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                      <div class="profile-img-lg text-left">
                        <mat-icon matBadge="8" matBadgePosition="above after" matBadgeColor="warn" matBadgeSize="medium">
                            <a href="#"><img src="/assets/images/profile.jpg" alt="profile" class="rounded-circle"></a>
                          </mat-icon>
                      </div>
                    </div>
                    <div><h3 class="card-title text-left pt-5 pl-3">User Profile</h3></div>
                    <div class="col-sm-12 pt-5">
                        <p class="sub-heading">Contact details</p>
                      <mat-form-field class="w-50 pr-5">
                        <input matInput placeholder="First name" value="Scott">
                      </mat-form-field>
                      <mat-form-field class="w-50">
                        <input matInput placeholder="Last name" value="Wren">
                      </mat-form-field>
                      <br>
                      <mat-form-field class="w-50 pr-5">
                        <input matInput placeholder="Email" value="scott@redhat.com">
                      </mat-form-field>
                      <mat-form-field class="w-50">
                        <input matInput placeholder="Phone" value="555-555-5555">
                      </mat-form-field>
                      <div class="pt-3"></div>
                      <p class="sub-heading">Degree details</p>
                        <mat-form-field class="w-50 pr-5">
                          <input matInput placeholder="EA Date" value="1/1/2019" [readonly]="true">
                        </mat-form-field>
                        <mat-form-field class="w-50">
                          <input matInput placeholder="FC Date" value="1/1/2019" [readonly]="true">
                        </mat-form-field>
                        <mat-form-field class="w-50 pr-5">
                          <input matInput placeholder="MM Date" value="1/1/2019" [readonly]="true">
                        </mat-form-field>
                        <p class="sub-heading pt-4">Lodge details</p>
                        <mat-form-field class="w-50 pr-5">
                          <mat-label>Lodge Membership</mat-label>
                          <mat-select [formControl]="memberships" multiple>
                            <mat-option *ngFor="let membership of lodgeMemberships" [value]="membership">{{membership}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                        <mat-form-field class="w-50">
                            <form class="example-form">
                                  <input matInput placeholder="Lodge Officer" aria-label="Lodge Officer" [matAutocomplete]="auto" [formControl]="stateCtrl">
                                  <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
                                      <img class="example-option-img" aria-hidden [src]="state.icon" height="25">
                                      <span>{{state.name}}</span> |
                                      <small>Position: {{state.position}}</small>
                                    </mat-option>
                                  </mat-autocomplete>
                              </form> 
                        </mat-form-field>
                        <div class="pt-4"></div>
                        <button mat-flat-button color="primary" class="w-100 btn-save" (click)="save()">Save</button>
                        <div class="pt-4"></div>
                    </div>
              </div>
        </div>
      </div>
    </div>
  </div>

  