mat-grid-tile {
    background: #fff;
}

button {
    border-radius: 0px;
}

.lodge-profile {
    background: #4285f4;
}

.user-profile {
    background: #1ca45c;
}

.masonic-network {
    background: #fbbc05;
}

.business-network {
    background: #fa4335;
}

.text-white {
    color: #fff;
}

.full {
    width: 100%;
    height: 100%;
}