/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*html, body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}*/

.profile-img {
    height: 4rem;
    width: auto;
}

.nav-link p span {
    margin-left: 1.2rem;
}

.border {
    border: 2px solid #777;
  border-radius: 12px;
}