/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.profile-img {
    height: 4rem;
    width: auto;
}

.nav-link p span {
    margin-left: 1.2rem;
}

.border {
    border: 2px solid #777;
  border-radius: 12px;
}

.sub-heading {
    font-size: 1.5rem;
}

.btn-save {
    font-size: 1.1rem;
}